body {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#level-editor {
  position: absolute;
  left: 20px;
  top: 0px;
  height: 100vh;
}

#level-editor div {
  background-color: #aaa;
  border: 1px solid #444;
  color: white;
  font-family: monospace;
  font-size: 60px;
  height: 70px;
  margin: 10px;
  width: 70px;
}

#level-editor div.selected {
  background-color: white;
  border-color: #999;
  color: black;
}

#grid {
  background-color: #444;
  border: 1px solid black;
  color: #eee;
  font-family: monospace;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 10px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 5px;
  position: relative;
  width: 500px;
}

#grid .symbol {
  position: absolute;
  transition: top 0.05s, left 0.05s
}

#drop {
  bottom: 10px;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

.App {
  text-align: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  #grid {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
    width: 400px;
  }

  #level-editor {
    bottom: 200px;
    height: 44px;
    top: unset;
  }

  #level-editor div {
    float: left;
    font-size: 30px;
    line-height: 44px;
    height: 44px;
    width: 44px
  }
}